.THIS .title{
    font-family: Montserrat;
    padding : 0.30rem;
}
.THIS .article{
    color: #333;
	font-weight: bold;	
    margin:0;
    font-family: Montserrat;
    font-size: 1.1em;
    line-height: 1.3em;
    margin-bottom :10px;
  /*  outline: 0;
    color: #2574a9;*/
}
.THIS a:hover{
    color: #2574a9;
}
.THIS .sum{
    color: #696969;
	font-size: 1.1em;   	    
    font-weight: 300;
    line-height: 1.5em;
    white-space: normal;
    display: inline-block;
    margin-bottom :10px;
    color: inherit;
}
.THIS .uiInputSelect
{
    font-family: Montserrat;
    width: 18rem;   
}
.THIS .details{
    color: #696969;
    font-size: 1.1em;
    line-height: 1.375em;
    margin-bottom :10px;
}
.THIS select::-ms-expand {
     /*To Hide drop-down arrow for SELECT in IE*/
    display: none;
}