.THIS .headcolor{
    background-color:#B4D5FE;
    color: #16325c;
    
}

.THIS .slds-table th {
    font-weight: 400;
    font-weight: bold !important;
    background-color:#B4D5FE;
    color: #16325c;
}


.THIS .sectionImmessa {
    font-weight: 400;
    font-size: 18px !important;
   
   
}



.THIS .sectionHead {
    background-color: #e6eeff !important;

}

.THIS.columnStyle{
   background-color:#B4D5FE !important;
}