.THIS .slds-text-heading--label{
    color: #54698D ;
    text-transform : capitalize ;
    font-size: 24px ;
    padding-bottom: 5px;
    letter-spacing: 0.2px ;
}

.THIS .box{
    border: 1px solid;
    border-color: rgb(192, 191, 191);
    align-self: center;
    border-radius: 0.2rem;
    /*max-width: 1024px;*/
    align-items: center;
}

.THIS .slds-section__title{
      background-color: #B4D5FE;
      border-radius: 0px ;

}

.THIS .th{
    padding-left: 10px;
  	padding-right: 10px;
    color:#16325c;

}

.THIS .trH{
    background-color: #B4D5FE;
    height: 40px;
    padding-left: 10px;
  	padding-right: 10px;
}

.THIS .td{
   word-wrap:break-word;
 	font-size: 14px;
 	padding-left: 10px;
  padding-right: 10px;
	padding-top:6px;
    
}

.THIS .tableclass {
   table-layout:auto;
   padding-left:10px;
   padding-right:10px;
   /*max-width: 1024px;*/
   align-items: center;
   padding-bottom: 5px;
   border-collapse: inherit;
 
}

.THIS .box2{
	/*max-width: 1024px;*/
    align-items: center;
    display: flex;
}