.THIS .headcolor{
    background-color:#B4D5FE;
    color: #16325c;
    
}

.THIS .slds-table th {
    /*font-weight: 400;*/
    font-weight: bold;
    background-color:#B4D5FE;
    color: #16325c;
}

.THIS .slds-table {
    color:#333333;
}

.THIS .td_down{
    padding: 0.3rem;
  	/*color: white;*/
}