<apex:component controller="customRelatedList_Controller"  >
<apex:attribute name="PageblockTitle" description="This is the title of the section"   type="String" required="true" assignTo="{!blockTitle}"/>
<apex:attribute name="Table" description="this is the base table's object" type="String" required="True" assignTo="{!baseObject}" />
<apex:attribute name="listOfField" description="Comma-separated list of field to display" required="true" type="String" assignTo="{!namefields}"  />
<apex:attribute name="customWhereCondition" description="optional where condition used to extract data" required="false" type="String" assignTo="{!whereCondition}" />
	<apex:form id="TableForm" >
		<apex:pageBlock title="{!blockTitle}" >
			<apex:outputPanel rendered="{!displayTable}">
		 	<apex:pageBlockTable value="{!elementToDisplay}" var="w" id="clones">
		 		<apex:repeat value="{!listOfFields}" var="fieldName">
		 			 <apex:column value="{!w[fieldName]}"/>
				</apex:repeat>
			</apex:pageBlockTable>
			<apex:PageblockSection columns="2">
				<apex:pageblockSectionItem >
					<apex:outputPAnel >
						<apex:Commandbutton value="Next" action="{!Next}"  disabled="{!!hasNext}" rerender="TableForm"/>
						<apex:Commandbutton value="Previous" action="{!previous}"  disabled="{!!hasPrevious}" rerender="TableForm" />
					</apex:outputPAnel>
				</apex:pageblockSectionItem>
				<apex:pageblockSectionItem labelStyle="text-align:right; margin-right: 5px;" dataStyle="text-align:right; margin-right: 5px;">
					<apex:outputText value="{!currentpageNumber}"/> 
					
				</apex:pageblockSectionItem>
			</apex:PageblockSection>
			</apex:outputPanel>
			<apex:outputPanel rendered="{!!displayTable}">
				<apex:outputText value="{!$Label.COMPONENT_NO_RECORD}" />
			</apex:outputPanel>
		</apex:pageBlock>
	</apex:form>

</apex:component>