.THIS span.required{
    color:#c23934;
    font-size: small;
}
.THIS .myModal{
    width: 50%;
    max-width: none;
    min-width: 20rem;
    position: absolute;
    left: 25%;
}
.THIS .sldsWidth1-2{
    width: 50% !important;
    
}