.THIS .headcolor{
    background-color:#B4D5FE;
    color: #16325c;
    
}

.THIS .slds-table th {
    /*font-weight: 400;*/
    font-weight: bold;
    background-color:white;
    color: #16325c;
}

.THIS .slds-table {
    color:#333333;
}