.THIS .dmsButton{

	 font-size: 11.5px;
     padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #5876a3;
    border:none;
	 
}

.THIS .dmsButtonAllegato{
	font-size: 11.5px;
	background-color: #0079bc;
    border-color: #0079bc; 
}

.THIS .slds-button_icon-bare .slds-button--icon-bare {
    line-height: 1.5;
    vertical-align: middle;
    color: white;
}

.THIS .slds-button__icon {
    width: .975rem;
    height: .975rem;
    fill: white;
}

.THIS .slds-button--brand {
    font-size: 11.5px !important;
    padding-left: .5rem !important;
    padding-right: .5rem  !important;
    background-color: #5876a3 !important;
    border: none !important;
}