.THIS .titleSpan {
    padding-left: .5rem;
    font-size: 22px;
}
.THIS  .title {
   
    color: rgb(22, 50, 92);
    font: 300;
    font-size: 1rem;
    line-height: 1;
    margin: 0;
    text-transform: none;
    padding: 0;
    display: inline-block;
    border: none;
}

.THIS  .forcePageBlockSectionEdit .title
{
    
    
    font: 300;
    font-size: 1rem;
    line-height: 1;
    margin: 0;
    text-transform: none;
    padding: 0;
    display: inline-block;
    border: none;
}


.THIS  .slds-show{
     font-size: 1rem;
}



.THIS .icn svg{
    fill:#fc4c04; 
}