.THIS.block-display {
    display:block;
}
.THIS .myModal{
    width: 70%;
    max-width: none;
    position: absolute;
    left: 15%;

}
.THIS .slds-modal__content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-style: italic;
}
.THIS .CustomButton{
   					padding-left: 1rem;
                    padding-right: 1rem;
                    text-align: center;
                    vertical-align: middle;
                    background-color: rgb(252, 76, 4);
                    color: rgb(255, 255, 255);
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgb(252, 76, 4);
                    border-image: initial;
 
}