<apex:page standardController="case" extensions="CaseMgmtListController" title="Assign Case" cache="false"  showHeader="{!showHeader}" sidebar="false">
    
    
    <apex:includeScript value="{!$Resource.JQuery}" />
    <apex:includeScript value="/support/console/37.0/integration.js"/> 
    <script>
    
    
    //$( document ).ready(function() {
        //console.log( "ready!" );
      function checkconsole(){
        var showheader = true;
        if( sforce.console !== 'undefined' && sforce.console != null ) {
        	if( sforce.console.isInConsole() )
              	showheader = false;
            else
                showheader = true;
        }
        else {
        	showheader = true;
        }
          alert(showheader);
        return showheader;
    }
    //});
    
    </script>
    
    <apex:form >
     <apex:pageblock >
   <apex:panelGrid columns="1" width="100%" cellPadding="25"  >
    <apex:facet name="header"><h1><center>ASSEGNA CASE {!$CurrentPage.parameters.no} ALLA CODA:</center></h1></apex:facet>
      <apex:panelGroup layout="inline" >
          <apex:pageblocksection columns="1"  >
            <apex:pageblocksectionitem >
             
              <apex:outputLabel for="ca" value="Seleziona Coda "   />  
              
         <apex:selectList size="1"  value="{!assignSelected}"  >   
            <apex:selectOptions value="{!caseAssignments}" id="ca"/>
         </apex:selectList>
               
                </apex:pageblocksectionitem>
               
        </apex:pageblocksection>
      </apex:panelGroup>
       
   </apex:panelGrid>    
    
   <br/>

   <br/>
          
   <apex:panelGrid columns="2" width="100%" cellPadding="5" style="vertical-align:middle;text-align: center;">
      
      <apex:commandButton action="{!assignOk}" id="assignOk" value="Assegna"  style="height:30px;width:80px;float:right" oncomplete="redirect('{!redirecturl}','{!redirectlabel}')"/>
         
      <apex:commandButton action="{!CancelOk}" id="CancelOK" value="Annulla"  style="height:30px;width:80px;float:left" oncomplete="redirect('{!redirecturl}','{!redirectlabel}')"/>
          
   </apex:panelGrid>
               
         </apex:pageBlock>
   </apex:form>
    
    <script>
      function CloseWindow()
      {
         try{
             var winMain=window.opener;
             if (null==winMain)
             {
                winMain=window.parent.opener;
             }
                winMain.closeAssignPopup();
         }
          catch(err){}
     }
   
    function redirect(url, label){
        //alert('url is'+url);
        if(typeof url!= 'undefined')
            {   
                if(url != '')
                {
                   if((sforce != null) && (typeof sforce !=='undefined') ) {
                       //alert('sforce not null'); 
                       if((sforce.console != null) && (typeof sforce.console!=='undefined') ) {
                           //alert('sforce console not null'); 
                                if (sforce.console.isInConsole()) {
                                    // alert('sforce is in console');
                                    sforce.console.getEnclosingTabId(closeSubtab);

                                    sforce.console.openPrimaryTab(null, url, true,label, openSuccess, 'salesforceTab');	
                                }
                                else
                                {
                                    //alert('2indow.loaction');
                               	 	window.top.location.href = url;
                                }
                            }
                            else
                            {
                                //alert('22indow.loaction');
                                window.top.location.href = url;
                            }
                        }
                    }
                }
            }
    //}
    var openSuccess = function openSuccess(result) {
            //Report whether opening the new tab was successful
            if (result.success == true) {
              
            } else {
            //  alert(result);
                
            }
    };
    var closeSubtab = function closeSubtab(result) {
            //Now that we have the tab ID, we can close it
            var tabId = result.id;
            sforce.console.closeTab(tabId);
        };

   </script>
</apex:page>