<apex:page controller="ED_AccountSelector_ControllerX" tabStyle="Account" >
	<apex:form >
				
		<apex:PageBlock >
			<!-- PageMessage section : used to display error message on the screen -->
			<apex:pageMessages id="PageMessage"/>
						
			<!-- button section : -->
			<apex:pageblockButtons id="buttonSection" location="Top" >

			<!-- Button used to create a case with a selected account, the facet are used in order to avoid double click by the user -->
				<!--  <apex:actionStatus id="saveStatus">
				    <apex:facet name="stop">
				        <apex:commandButton id="buttonAccount" value="Associa Account" action="{!CreateCaseWithAccount}" status="saveStatus" rerender="{!$Component.PageMessage}"/>
				    </apex:facet>
				    <apex:facet name="start">
				        <apex:commandButton value="Associazione in corso..." disabled="true" status="saveStatus"/>
				    </apex:facet>
				</apex:actionStatus>-->
			<!-- Button used to create a case without an account, the facet are used in order to avoid double click by the user -->
				<apex:actionStatus id="saveStatusNoAcc">
				    <apex:facet name="stop">
				        <apex:commandButton value="{!$Label.LBL_NewCaseNOAcc}" action="{!CreateCaseWithoutAccount}" status="saveStatusNoAcc" rerender="{!$Component.PageMessage}"  />
				    </apex:facet>
				    <apex:facet name="start">
				        <apex:commandButton value="{!$Label.LBL_CREATINGCASE}" disabled="true" status="saveStatusNoAcc"/>
				    </apex:facet>
				</apex:actionStatus>
			</apex:pageblockButtons>
			<!-- Table used to display all the account with the input phone -->
			<apex:pageBlockSection collapsible="false" columns="1" >
				<apex:pageBlockTable id="offers" value="{!AccToDisplay}" var="row">
					<!--Link used to select an account-->
	 	 			<apex:column headerValue="Azione">
	                		<apex:commandLink value="{!$Label.LBL_ASSOCIATE}" action="{!CreateCaseWithAccount}"   reRender="{!$Component.detaiPanel},{!$Component.detailSection},{!$Component.buttonSection}">
	                			<apex:param name="accountId" value="{!row.id}" assignTo="{!selectedAccountId}" />
	                		</apex:commandLink>
	        		</apex:column>
	        		<!-- Other account-related information -->
            		<apex:column headerValue="{!$Label.LBL_LASTNAME}"                  value="{!row.Name}" />
            		<apex:column headerValue="{!$Label.LBL_FIRSTNAME}"                 value="{!row.Nome__c}" />
            		<apex:column headerValue="{!$Label.LBL_Type}"                 	value="{!row.recordType.name}" />
            		<apex:column headerValue="{!$Label.LBL_FISCALCODE}"           value="{!row.CodiceFiscale__c}" />
            		<apex:column headerValue="{!$Label.LBL_VATNUM}"              value="{!row.PartitaIVA__c}" />
            		<apex:column headerValue="{!$Label.LBL_EMAIL}"              		value="{!row.Email__c}" />
	 	 		</apex:pageBlockTable>
	 		</apex:pageBlockSection>
		</apex:PageBlock>
		<!-- apex detail used to show the account information -->
		<!-- 
		<apex:outputPanel id="detaiPanel">
			<apex:detail id="detailSection" subject="{!selectedAccountId}" relatedList="false" title="false" rendered="{!selectedAccountId!=''}" inlineEdit="false" showChatter="false" />
		</apex:outputPanel>  -->
	</apex:form>
</apex:page>