<apex:page standardController="Case" extensions="ED_Case_Technical_Data_ControllerX,ED_FourDashbord_Extension,ED_EMMDashbord_Extension" showHeader="false" sidebar="false">
 <!--  <apex:includeScript value="{!$Resource.jquery_1_5_1}"/>
    <apex:includeScript value="{!$Resource.json2}"/>
    <apex:includeScript value="{!$Resource.cometd}"/>
    <apex:includeScript value="{!$Resource.jquery_cometd}"/> --> 
    <apex:includeScript value="/support/console/38.0/integration.js"/>
   <script>
    function openPrimaryTab(urlChangeOwnerCall) {
                                               
            sforce.console.openPrimaryTab(undefined,urlChangeOwnerCall, true, 'example');
                                                  
        }

		function testGetFocusedPrimaryTabId(urlChangeOwnerCall, idCase) {
            sforce.console.getFocusedPrimaryTabId(showTabId);
            sforce.console.openPrimaryTab(undefined,urlChangeOwnerCall, true, idCase);
			closeTab();
        }
    
        var showTabId = function showTabId(result) { 
						//Display the tab ID 
						// alert('Tab ID: ' + result.id); 

						}; 

        
        //The callback function that closeTab will call once it has the ID for its tab
        var callCloseTab= function callCloseTab(result) {
            sforce.console.closeTab(result.id);
        }
        
        function closeTab() {
            sforce.console.getEnclosingTabId(callCloseTab);
        }
    	
        function reloadLayout(refreshPageValue){
            
            

            //if(refreshPageValue == true)
            //{
                var caseid = '{!Case.Id}';
            	var caseNum = '{!Case.CaseNumber}';
            // var urlChangeOwner = 'https://enel-distribuzione--dev1.cs81.my.salesforce.com/5002600000BpIUl'; 
                //var urlChangeOwner = caseid; 
                var foo = '{!URLFOR($Action.Case.View, case.id)}';
           		 
                if ( sforce.console !== 'undefined' && sforce.console != null){ 
						 
                    if (sforce.console.isInConsole()) { 
                       
						testGetFocusedPrimaryTabId(foo, caseNum);	
					} 
					else{ 
                        
						window.top.location.href =foo; 
					} 
				} 
				else{ 
						
						window.top.location.href =foo; 
				} 
                //var url = window.location.href;
                //alert(' *** url page '+foo+' *** refreshPage'+refreshPageValue);
                
            //}
                
        }
   
   </script>
   
    <apex:form id="out">   
 <!--   <script type="text/javascript">
        var j$ = jQuery.noConflict();   
        j$(document).ready(function() {
        j$.cometd.init({
        url: window.location.protocol+'//'+window.location.hostname+'/cometd/28.0/',
        requestHeaders: { Authorization: 'OAuth {!$Api.Session_ID}'}
        });
        j$.cometd.subscribe('/topic/CaseFutureUpdate', function(message) {
       // location.reload();
        rerenderDetail();
        console.log(message);
    });
 });
</script> -->

<!--  <apex:detail subject="{!Case.Id}" relatedList="true" title="true" inlineEdit="true" relatedListHover="true" showChatter="true"/> -->
<!-- 
 <apex:pageBlock mode="inlineEdit">
 <div align="center" draggable="false" >


    <apex:actionStatus id="mySaveStatus1">
        <apex:facet name="stop">
            <apex:commandButton action="{!saveC}" id="SaveButton" status="mySaveStatus1" value="Salva" disabled="false" rerender="section,pageFOUR"/>
        </apex:facet>
        <apex:facet name="start">
            <apex:commandButton status="mySaveStatus1" value="Salvataggio in corso..." disabled="true"/> 
        </apex:facet>
    </apex:actionStatus>
</div>
</apex:pageBlock> mode="maindetail" 
 -->
 
    <apex:PageBlock mode="maindetail" id="block">
        <apex:pagemessages id="Message" />
        <Apex:pageBlockSection id="section" columns="2">
            <!--<apex:pageBlockSectionItem >
                    <apex:outputtext value="{!$ObjectType.Case.fields.POD__c.Label}" />
                    <apex:inputtext value="{!pod}" />
            </apex:pageBlockSectionItem>-->
            
            <!-- Aggiunto da Marco A per consentire l'inline edit del POD-->
            <apex:pageBlockSectionItem helpText="{!$Label.PODHELP}" >
                <apex:outputtext value="{!$ObjectType.Case.fields.POD__c.Label}" />
              <apex:outputField value="{!Case.POD__c}" >
                    <apex:inlineEditSupport showOnEdit="SaveButton" />   
                 </apex:outputField> 
                <!-- <apex:inputField value="{!Case.POD__c}" style="text-transform: uppercase;" />  -->
            </apex:pageBlockSectionItem>
            <!-- Fine aggiunta di Marco A-->
             <apex:pageBlockSectionItem />
              <apex:repeat value="{!$ObjectType.Case.FieldSets.Case_Technical_Data}" var="f">
                 <apex:pageBlockSectionItem >
                    <apex:outputtext value="{!f.label}" />
                    <apex:outputfield value="{!Case[f]}" />
                 </apex:pageBlockSectionItem>
           </apex:repeat>
           
           
           <!--  
            <apex:pageBlockSectionItem >
                    <apex:outputtext value="{!$ObjectType.Case.fields.IdPratica__c.Label}" />
                    <apex:outputtext value="{!Case.IdPratica__c}" />
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputtext value="{!$ObjectType.Case.fields.DirezioneDTR__c.Label}" />
                <apex:outputtext value="{!Case.DirezioneDTR__c}" />
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputtext value="{!$ObjectType.Case.fields.CognomeTitolarePOD__c.Label}" />  
                <apex:outputText value="{!Case.CognomeTitolarePOD__c}" />
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputtext value="{!$ObjectType.Case.fields.UnitaDiCompetenza__c.Label}" />   
                <apex:outputText value="{!Case.UnitaDiCompetenza__c}" />
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputtext value="{!$ObjectType.Case.fields.NomeTitolarePOD__c.Label}" /> 
                <apex:outputText value="{!Case.NomeTitolarePOD__c}" />
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputtext value="{!$ObjectType.Case.fields.LivelloTensioneDiFornitura__c.Label}" />  
                <apex:outputText value="{!Case.LivelloTensioneDiFornitura__c}" />
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputtext value="{!$ObjectType.Case.fields.CodiceFiscaleTitolarePOD__c.Label}" />    
                <apex:outputText value="{!Case.CodiceFiscaleTitolarePOD__c}" />
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputtext value="{!$ObjectType.Case.fields.Oraria__c.Label}" />  
                <apex:outputField value="{!Case.Oraria__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputtext value="{!$ObjectType.Case.fields.PartitaIVATitolarePOD__c.Label}" />   
                <apex:outputText value="{!Case.PartitaIVATitolarePOD__c}" />
            </apex:pageBlockSectionItem> -->
            <apex:pageBlockSectionItem >
                <apex:outputtext value=" " />   
                    <apex:actionStatus id="mySaveStatus1">
                        <apex:facet name="stop">
                         <apex:commandButton action="{!saveC}" id="SaveButton" status="mySaveStatus1" value="{!$Label.BTN_INFO_POD}" disabled="false" rerender="section,secondForm,Message,component" oncomplete="reloadLayout('{!refreshPage}')"/>
                        </apex:facet>
                        <apex:facet name="start">
                            <apex:commandButton status="mySaveStatus1" value="{!$Label.BTN_LOADING}" disabled="true"/> 
                        </apex:facet>
                    </apex:actionStatus>
            </apex:pageBlockSectionItem>
        </Apex:pageBlockSection>
    </apex:PageBlock>
</apex:form>
    
    
          
<apex:form id="secondForm">
    <apex:PageBlock mode="maindetail" id="FOURblock">
        <apex:PageBlockSection title="Dati Tecnici Four" collapsible="true" columns="1" >
                        <!--  <apex:outputtext value="{!endURL}"/> -->
            <outputPanel id="buttonPanel">
                <apex:commandButton value="{!$Label.BTN_ShowStorico}" action="{!revertSelection}" rerender="secondForm"  rendered="{!toDisplay}"  disabled="{!showStorico}"/>
                <apex:commandButton value="{!$Label.BTN_Dashboard}" action="{!revertSelection}" rerender="secondForm" rendered="{!toDisplay}" disabled="{!!showStorico}" />
            </outputPanel>
            <outputPanel id="panel">
                <outputPanel>
                    <outputPanel id="dashboardPanel" rendered="{!!showStorico}">
                        <!--  <apex:outputText value="{!endURL}"/> -->
                        <apex:iframe src="{!endURL}" id="theIframe"  width="100%" scrolling="true" rendered="{!toDisplay}"/>
                        <apex:outputtext value="{!$Label.LBL_FOUR_NOT_AVALIABLE}" rendered="{!!toDisplay}" />
                    </outputPanel>
                </outputPanel> 
            </outputPanel>
        </apex:PageBlockSection>
        
        <apex:PageBlockSection title="Dati Tecnici EMM" collapsible="true" columns="1" rendered="{!toDisplayEmm}">
                        <!--  <apex:outputtext value="{!endURL}"/> -->
            <outputPanel id="panelEMM">
                <outputPanel>
                    <outputPanel>
                       <apex:outputPanel id="emmPanel" style="overflow:scroll;height:10000px;" rendered="{!toDisplayEmm}">
                           <apex:iframe src="{!emm_endURL}" id="EmmIframe"  height="1000px" width="100%" scrolling="true" rendered="{!toDisplayEmm}"/>
                           <apex:outputtext value="{!$Label.LBL_EMM_NOT_AVALIABLE}" rendered="{!!toDisplayEmm}" />
                        </apex:outputPanel>
                    </outputPanel> 
               </outputPanel>
            </outputPanel>
        </apex:PageBlockSection>
        
        <apex:PageBlockSection title="Dati Tecnici EMS" collapsible="true" columns="1" rendered="{!toDisplayEMS}">
                        <!--  <apex:outputtext value="{!endURL}"/> -->
            <outputPanel id="panelEMS">
                <outputPanel>
                    <outputPanel>
                       <apex:outputPanel id="emsPanel" style="overflow:scroll;height:10000px;" rendered="{!toDisplayEMS}">
                           <apex:iframe src="{!emm_endURL}" id="EmsIframe"  height="1000px" width="100%" scrolling="true" rendered="{!toDisplayEMS}"/>
                           <apex:outputtext value="{!$Label.LBL_EMM_NOT_AVALIABLE}" rendered="{!!toDisplayEMS}" />
                        </apex:outputPanel>
                    </outputPanel> 
               </outputPanel>
            </outputPanel>
        </apex:PageBlockSection>
    </apex:PageBlock>
    
    

</apex:form>
<!--<c:customRelatedList id="component" PageblockTitle="Deleghe" Table="Delegations__x" listOfField="DelegateDenomination__c,DelegateEmail__c,DelegateFiscalCode__c,DelegateId__c,DelegateVATCode__c,DelegationCode__c,DelegationStatus__c,DelegationType__c,ValidityBeginDate__c,ValidityEndDate__c" customWhereCondition="{!relatedWhereCondition}" />-->
<c:DelegheHttpComponent id="component" PageblockTitle="Delegati" Mode="SENT" AccountVatCode="{!Case.PartitaIVATitolarePOD__c}" AccountCF="{!Case.CodiceFiscaleTitolarePOD__c}" />
<!--  <c:DelegheHttpComponent id="component2" PageblockTitle="Martellato" Mode="SENT" AccountVatCode="01835830066" AccountCF=""/> -->

</apex:page>