<apex:page controller="ED_CaseNotFoundController" >
	<apex:form >
		<apex:Pageblock >
		<apex:pageblockButtons >
			<apex:CommandButton action="{!redirect}" value="{!$Label.CASE_BACK_TO_LIST}" id="theButton"/>
		</apex:pageblockButtons>
			<apex:PageBlockSection columns="2">
				<!--  <apex:PageblockSectionItem labelStyle="text-align:center; margin-right: 5px;" dataStyle="text-align:center; margin-right: 5px;" >-->
				 <apex:PageblockSectionItem >
					<apex:OutputText value="{!$Label.CASE_NUM_NOT_FOUND}" /> 
				</apex:PageblockSectionItem>
				<apex:PageblockSectionItem />
				<apex:PageblockSectionItem >
					<apex:OutputText value="{!$Label.CASE_PHONE}"/>
					<apex:outputText value="{!phone}"/>
				</apex:PageblockSectionItem>
				<apex:PageblockSectionItem >
					<apex:OutputText value="{!$Label.CASE_NUMBER}"/>
					<apex:outputText value="{!caseNum}"/>
				</apex:PageblockSectionItem>
				<apex:PageblockSectionItem >
					<apex:OutputText value="{!$Label.CASE_NAVIGATION}"/>
					<apex:outputText value="{!navigation}"/>
				</apex:PageblockSectionItem>
				<apex:PageblockSectionItem >
					<apex:OutputText value="{!$Label.CASE_CONTEXT}"/>
					<apex:outputText value="{!context}"/>
				</apex:PageblockSectionItem>
				<apex:PageblockSectionItem >
					<apex:OutputText value="{!$Label.CASE_RAMO}"/>
					<apex:outputText value="{!branch}"/>
				</apex:PageblockSectionItem>	
				<apex:PageblockSectionItem >
					<apex:OutputText value="{!$Label.CASE_MENU}"/>
					<apex:outputText value="{!menu}"/>
				</apex:PageblockSectionItem>
			</apex:PageBlockSection>
		</apex:Pageblock>
		
	</apex:form>


</apex:page>