<apex:page standardController="Case" tabStyle="Case">  
    <apex:form >
        <apex:pageBlock title="Account details" id="block" mode="detail"> 
            <apex:pageBlockSection columns="1"> <!-- numero di colonne per riga -->
                <apex:pageBlockSectionItem >
                                                                              <apex:outputLabel value="{!$ObjectType.Account.fields.Name.label}"  /> 
                                                                              <apex:outputField value="{!Case.Account.Name}" />
                </apex:pageBlockSectionItem>
                                                               
                <apex:pageBlockSectionItem >
                                                                              <apex:outputLabel value="{!$ObjectType.Account.fields.OwnerId.label}"  /> 
                                                                              <apex:outputField value="{!Case.Account.OwnerId}" /> 
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                                                                              <apex:outputLabel value="{!$ObjectType.Account.fields.CreatedById.label}"  /> 
                                                                              <apex:outputField value="{!Case.Account.CreatedById}" /> 
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>

        </apex:pageBlock>
    </apex:form>
</apex:page>