<apex:page cache="false" controller="WorkspaceConnectorBAController">
<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" />

    <script type="text/javascript">
    var AcnCti = AcnCti || {};
    var stopPolling = false;
    var maxPollRetryForGetInfo = 0;
    var ctiCurrentStatus = '';
    var RTargetPlaceSelected = '';
    var GVP_CONNID = '';
    
    var requestTimeout = 5000; 
    var pollQueueTimeout = 100;    
    var pollQueueTimeoutError = 500;
    var pollURL = "http://localhost";             
    var pollPort = 5050;
    var requestPort = 5051;

    j$ = jQuery.noConflict();
    /*
    j$(document).ready(function () {
        
        AcnCti.logToConsole("onDocumentReady");
        var ctiJsonData = getCtiData();
        var accountId = getAccountId();
        
        if(ctiJsonData !== null)
            try{
                // setCtiDataToController(ctiJsonData);
                AcnCti.logToConsole(ctiJsonData);
            }catch(e){
                AcnCti.logToConsole('invoke setCtiDataToController failed');
                AcnCti.logToConsole(e);
            }
        if(accountId !== null)
            try{
                // setAccountIdToController(accountId);
            }catch(e){
                AcnCti.logToConsole('invoke setAccountIdToController failed');
            }           
    });
    */
    function pollCtiStatus(){
        var ctiStatus = localStorage.getItem("ctiCurrentStatus");
        try{
            AcnCti.logToConsole('Cti Status is : ' + ctiStatus);
            setCtiStatusOnController(ctiStatus);
        }catch(e){
            // Log Exception.
        }finally{
            setTimeout(function(){ 
                pollCtiStatus();
            }, 5000);
        }
    }
    
    function getCtiData(){
        AcnCti.logToConsole("Begin getCtiData");
        var ctiJsonData = window.localStorage.getItem("ctiCustomData");
        AcnCti.logToConsole("getCtiData - ctiJsonData is : " + ctiJsonData);
        AcnCti.logToConsole("End getCtiData");
        return ctiJsonData; 
    }
    
    function getConnectionId(){
        var ctiJsonData = getCtiData();
        var connectionId;
        try{
            var ctiObject = JSON.parse(ctiJsonData);
            connectionId = ctiObject.GVP_CONNID;
        }
        catch(e){
            AcnCti.logToConsole('Failed to parse CTI Data.');
        }
        return connectionId;
    }
    
    function setAccountId(accountId) {
        var accId = accountId;
        localStorage.setItem("storedAccId", accId);
    }
    
    function getAccountId(){
        var accountId = localStorage.getItem("storedAccId");
        return accountId;
    }
    
    function setReady(){
        try{
            stopPolling = true;
            AcnCti.Send('{"STATUS":"READY"}');
            AcnCti.logToConsole('CTI Status set to Ready');
        }catch(e){
            AcnCti.logToConsole('Cannot set CTI Status to Ready due to : ' + e);
        }
    }
    //[D.A. 2014.11.21 SEG_126] fastTrack change (START)
    function setReadyResSWA(){
        try{
            stopPolling = true;
            AcnCti.Send('{""STATUS"":""READY"", ""ACTION"":""RS""}');
            AcnCti.logToConsole('CTI Status set to Ready');
        }catch(e){
            AcnCti.logToConsole('Cannot set CTI Status to Ready due to : ' + e);
        }
    }
    //[D.A. 2014.11.21 SEG_126] fastTrack change (END)

    //[F.I. 2015.04.07 SEG_00188] FastTrack change - START
    /**
     * Send Ready Message to Genesys Connector for outcome 
     */
    function setReadyOutcome(esito) {
        // Send GET_INFO Message.
        
        try{
            stopPolling = true;
            // SET_READY Send Message with outcome.
            var setReadySendMessageOutcome = '{"STATUS":"READY", "ESITO_SFDC":"';
            var setReadySendMessageEsitoOut = setReadySendMessageOutcome + esito+'"}';
            //AcnCti.send(setReadySendMessageEsitoOut);//[F.I. 2015.04.07 SEG_00188] FastTrack change - Anomalia - Id8
            AcnCti.Send(setReadySendMessageEsitoOut);//[F.I. 2015.04.07 SEG_00188] FastTrack change - Anomalia - Id8

            AcnCti.logToConsole('CTI Status set to Ready');

        }catch(e){
            AcnCti.logToConsole('Cannot set CTI Status to Ready due to : ' + e);
        }
    }

    /**
     * Send Ready Message to Genesys Connector for outcome of Completa offerta
     */
    function setReadyResSWAOutcome(esito) {
        // Send GET_INFO Message.
        
        try{
            stopPolling = true;
            // SET_READY Send Message for Residential and SWA Vocal Customer with outcome.
            //[DA 20160512 PMO5463] - START
            //var setReadySendMessageResSWAVocalOutcome = '{""STATUS"":""READY"", ""ACTION"":""RS"", ""ESITO_SFDC"":""';
            var setReadySendMessageResSWAVocalOutcome = '{""STATUS"":""READY"", ""ESITO_SFDC"":""'; 
            //[DA 20160512 PMO5463] - END
            var setReadySendMessageEsitoResSWAOut = setReadySendMessageResSWAVocalOutcome + esito+'""}';
            
            AcnCti.Send(setReadySendMessageEsitoResSWAOut);

            //alert('EsitoCTI: '+setReadySendMessageEsitoResSWAOut); // 2015-04-28 - AC - only for debug purpose

            AcnCti.logToConsole('CTI Status set to Ready');
        }catch(e){
            AcnCti.logToConsole('Cannot set CTI Status to Ready due to : ' + e);
        }
    }

    //[F.I. 2015.04.07 SEG_00188] FastTrack change - END

    function getCtiStatus(){
        setTimeout(function(){}, 500);
        return ctiCurrentStatus; 
    }
    
    function getCtiInfo(){
        setTimeout(function(){}, 500);
        return GVP_CONNID + ';' + RTargetPlaceSelected;
    }
    
    function checkCtiStatus(){
        try{
            stopPolling = false;
            AcnCti.poll(100);
            AcnCti.Send('{"SFDC":"GET_STATUS"}');
            AcnCti.Send('{"SFDC":"GET_STATUS"}');
            AcnCti.logToConsole('Sent CTI Status Request.');
            setTimeout(function(){}, 200);
            
        }catch(e){
            AcnCti.logToConsole('Failed to send CTI Status Request ' + e);
        }
    }
    
    function checkCtiInfoOnOutbound(){
        try{
            stopPolling = false;
            // AcnCti.poll(100);
            AcnCti.Send('{"SFDC":"GET_INFO"}');
            AcnCti.Send('{"SFDC":"GET_INFO"}');
            AcnCti.logToConsole('Sent CTI GetInfo Request.');
            setTimeout(function(){ }, 200);
            
        }catch(e){
            AcnCti.logToConsole('Failed to send CTI Status Request ' + e);
        }
    }
    
    function checkCtiInfo(){
        try{
            stopPolling = false;
            AcnCti.poll(100);
            AcnCti.Send('{"SFDC":"GET_INFO"}');
            AcnCti.logToConsole('Sent CTI GetInfo4Data Request.');
            setTimeout(function(){ }, 200);
            
        }catch(e){
            AcnCti.logToConsole('Failed to send CTI Status 4 data Request ' + e);
        }
    }
    
    AcnCti.Send = function (message) {
            AcnCti.logToConsole("Sending:" + message);
            j$.ajax({
                url: pollURL + ":" + requestPort + "/request=" + message,       
                timeout: requestTimeout,     
                async:false,
                crossDomain:true,
                cache: false,
                dataType: 'jsonp',      
                success: function(data){  
                    AcnCti.logToConsole('Successfully sent message ' + message);
                },
                error: function (xhr, ajaxOptions, thrownError) {                               
                    AcnCti.logToConsole('Request sent error (' + requestPort + ') ' + xhr.status + ' ' + thrownError); 
                    AcnCti.logToConsole('Retry send message...');
                    setTimeout(function(){ AcnCti.Send(message);  }, 200);
                } 
            });      
        }
                
    AcnCti.poll = function(timeout){ 
            if(stopPolling == true) return;
            
            setTimeout(function(){          
                j$.ajax({
                    
                    url: pollURL + ":" + pollPort + "/poll",                   
                    timeout: requestTimeout,    
                    async:true,
                    crossDomain:true,
                    cache: false,
                    dataType: 'jsonp',                
                    success: function(data){                    
                        AcnCti.logToConsole('JSON Received- ' + j$.param(data));
                        if(data.action == 'NoWork') {
                            if(AcnCti.ProcessResponse(data) == false){
                                AcnCti.poll(100);
                                stopPolling = true;
                            }
                        }                                     
                    },
                    error: function (xhr, ajaxOptions, thrownError) {               
                        AcnCti.logToConsole('work request error (' + pollPort + ') ' + xhr.status + ' ' + thrownError);  
                        
                        if(thrownError == 'timeout')
                            AcnCti.poll(pollQueueTimeoutError);
                        else
                            AcnCti.poll(pollQueueTimeout);
                    }           
                });
                
            }, timeout);        
        }    
        
    AcnCti.ProcessResponse = function(data){
        if(data.action == 'NoWork') 
        {
            if(data.Stato){
                AcnCti.logToConsole("Action is NoWork, Stato is " + data.Stato);
                ctiCurrentStatus = data.Stato;
                setCtiStatus(ctiCurrentStatus);
                // return false;
                
                // Get GetInfo4Data.
                if(data.Stato = 'Busy') {
                    if(typeof data.GVP_CONNID === "undefined")
                    {
                        maxPollRetryForGetInfo = maxPollRetryForGetInfo + 1;
                        if(maxPollRetryForGetInfo <= 20)
                            Send('{"SFDC":"GET_INFO"}');
                    }
                    // else if(data.GVP_CONNID == 'NA')
                    // {
                    //      Send('{"SFDC":"GET_INFO"}');
                    // }
                    else
                    {
                        var ctiData = JSON.stringify(data);
                        if((typeof data.GVP_CONNID !== "undefined") && data.GVP_CONNID != 'NA') {
                            var params = data.GVP_CONNID + ';' + data.RTargetPlaceSelected;
                            return true;
                        }
                        return false;
                    }
                    return false;
                }
                
                
            }
            // Outbound CallId, Place
            else if(data.GVP_CONNID && data.RTargetPlaceSelected){
                GVP_CONNID = data.GVP_CONNID;
                RTargetPlaceSelected = data.RTargetPlaceSelected;
                AcnCti.logToconsole('GVP_CONNID is ' + GVP_CONNID);
                if(GVP_CONNID == '' || GVP_CONNID == 'undefined' || GVP_CONNID == 'NA')
                    return false;
                else
                    return true;
            } else{
                return false;
            }
        }
        else
            return true;
    }
        
    AcnCti.logToConsole = function (message) {
        if (typeof console!="undefined") {
            if (typeof console.log != "undefined") {
                console.log(message);
            }
        }
    }   
    </script>
</apex:page>