<apex:page controller="PT_UploadFile_Controller" id="UploadFilePage" docType="html-5.0" showHeader="false" sidebar="false">

    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" />
    <style>
/* Styling for the standard button */
.ChooseFileContainer {
position:relative;
display:inline;
}
/*Styling for the custom button that would overlay on top of the standard choose file button */
.OverlayButton btn{
position:absolute;
left:5px;
right:0;
} 
        
.buttonPosition{
    position: fixed;
    left: 100;
    down: 50px;
    top: 2.5px;
    right: 2.5px;
}       
        
        
</style>
    <script>
    
  // choose file button 
          $(function(){
              // script that triggers the click of the standard
              // choose file button 
               alert('FUNCTION CALL');
              var methodname= '#'+'{!iframename}';
              alert('methodname:'+methodname);
              // $('#CustomChooseFileButton').click( function(e) {
               $(methodname).click( function(e) {
                  alert('INSIDE');
                  var fileuploadbtnname='fileSelectedForUpload'+'{!iframename}';
                   //{!$Component.theForm.fileSelectedForUpload}
                       	document.getElementById(fileuploadbtnname).style="margin-left: 31px;margin-top: 8px;width: 404px;";
                                       $('input[type="file"]').click();});
                                       // script to hide the blinking cursor
                                      $('input[type="text"]').mousedown(function(e) { 
                                        e.preventDefault();
                                       $(this).blur();
                                       return false;
                                 });
              
              /* $('#CustomRecycleButton').click( function(e) {
                  alert('INSIDE RECYCLE');
					document.getElementById('{!$Component.theForm.fileSelectedForUpload}').value=null;
                  //     var vartest = document.getElementById('{!$Component.theForm.CustomChooseFileButton}').disabled;
                  //alert(vartest);
    	            document.getElementById('{!$Component.theForm.fileSelectedForUpload}').disabled = false;
                    document.getElementById('{!$Component.theForm.fileSelectedForUpload}').style="display:none";
              }); */
              
                  $('#deleteIconButton').click( function(e) {
                  alert('INSIDE delete button');
                      //  $('#CustomRecycleButton').click();
                	document.getElementById(fileuploadbtnname).value=null;
                    document.getElementById(fileuploadbtnname).disabled = false;
                    document.getElementById(fileuploadbtnname).style="display:none";
                  });
                  
         });   
    
        //Receive message from LC
        window.addEventListener("message", function(event) {
            alert('inside the llistener');
            data = event.data;
			dataId = event.data.recordId; 
            //dataIdFile = event.data.fileselected; 
            alert("in VF page file selected " +dataId);

            var dat = dataId;
            document.getElementById('{!$Component.theForm.textField}').value = dat;
            alert("in VF page" +dataId);
            if(typeof(event.data.uploadFile) != 'undefined' && (event.data.uploadFile == true)){
                var fileuploadbtnname='fileSelectedForUpload'+'{!iframename}';
                document.getElementById(fileuploadbtnname).click();
            }
            
        }, false);
    
       
    /*   window.addEventListener("recordTypeName", function(event) {
            alert('inside the llistener recordTypeName');
            data = event.data;
			dataId = event.data.recordTypeName; 
            //dataIdFile = event.data.fileselected; 
            alert("in VF page file selected " +dataId);

            
        }, false);  */
    
    
    
    var lexOrigin = "https://{!$CurrentPage.parameters.lcHost}";
    alert('lexOrigin'+lexOrigin);
    var data;

    
    
        //Send message to LC
        function sendToLC(message) {
       		alert('message test'+JSON.stringify(message));
            alert('message fname'+JSON.stringify(message.fname)); 
            alert('lex origin');
           
            /* var json = JSON.stringify(message.fname);
            var extension = json.split(".");
            var finalextension = extension[1];
            alert('extension---->'+finalextension);
             document.getElementById('{!$Component.theForm.textFieldfname}').value = finalextension;
            alert(document.getElementById('{!$Component.theForm.textFieldfname}').value); */
            //  alert('EXTENSION --->' +extension);
            
            
            var strContains = "pdf,xls,xlsx,doc,jpeg,jpg";
            //var str = "'C:\\fakepath\\SGCertifiedAdministrator (2).pdf'";
            /*var str = JSON.stringify(message.fname);
            var res = str.split(".");
            var extStr = res[res.length-1];
    		extStr = extStr.split('"');
    		extStr = extStr[0];
   			alert(extStr);
    		var boolTest = strContains.indexOf(extStr) !== -1;
            alert(boolTest); */
            /*  if(boolTest === false){
            alert('format does not match'); 
            var messageFormats = {'state': 'formatmismatched', 'message': 'Format mismatch, Format can only be '+strContains, 'messageType': 'error'};
            parent.postMessage(messageFormats, lexOrigin);
                //sendToLC({'state': 'formatmismatched', 'message': 'test', 'messageType': 'error'});
            }
            else{
            var messageFormats = {'state': 'formatmatched', 'message': '', 'messageType': ''};
            parent.postMessage(messageFormats, lexOrigin);
            }*/
            
              if(typeof(lexOrigin) != "undefined"){
                alert('Test');
                  
                  if(typeof(lexOrigin) != "undefined" ){
                      alert('inside2@@@@!@!!!');

                      // document.getElementById('{!$Component.theForm.fileSelectedForUpload}').disabled = true;
                  }
          		alert('before post message'+lexOrigin);
              parent.postMessage(message, lexOrigin);

              }
            
            /*   if(JSON.stringify(message.fname) == ""){
                        document.getElementById('{!$Component.theForm.fileSelectedForUpload}').disabled = true;
                alert('inside fname check');
                //   document.getElementById('{!$Component.theForm.CustomChooseFileButton}').disabled = true;
                //  document.getElementById('{!$Component.theForm.deleteIconButton}').style = "display:none";
                
            }*/
        }
              
        sendToLC({'state':'LOADED', 'vfHost': "{!LEFT($CurrentPage.URL,FIND('/',$CurrentPage.URL,9))}"});

    </script>

    <apex:stylesheet value="{!URLFOR($Resource.SLDS231, 'assets/styles/salesforce-lightning-design-system.css')}" />
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
    <Apex:form id="theForm">
        <div class="slds">
    <div id="startButtonDiv" class="slds-button">
        <apex:slds >
        <div class="slds-form-element" id="6666">
        <apex:commandButton value="Save" action="{!uploadFile}"  style="display:none;"/>
        <apex:inputText id="textField" value="{!recordId}" label="recordid" style="display:none"/>
        <apex:inputText id="textFieldfname" value="{!fileName}" label="fileName" style="display:none"/> 
        <div>
     <!--       <apex:inputText id="fileName" value="{!objAttachment.Name}" label="fileName" style="color: inherit;
    font: inherit;
    margin: 0;
    position: fixed;
    left: 118px;
    top: 10px;
    border: transparent;"/> --> 
<div class = "ChooseFileContainer" id="5555">
<!--<apex:inputfile id="fileSelectedForUpload"  onChange="sendToLC({'state': 'uploadFileSelected','fname': value});" value="{!objAttachment.body}" filename="{!objAttachment.Name}" size="{!objAttachment.BodyLength}" contentType="{!objAttachment.ContentType}" style="display:none" accept="{!recTypeCon}"></apex:inputfile>-->
    <input type="file" id="fileSelectedForUpload{!iframename}"  onChange="sendToLC({'state': 'uploadFileSelected','fname': value, 'name':'iframe2'});" value="{!objAttachment.body}" filename="{!objAttachment.Name}" size="{!objAttachment.BodyLength}" contentType="{!objAttachment.ContentType}" style="display:none" accept="{!recTypeCon}"/>

    <!--CustomChooseFileButton-->
    <input id="{!iframename}" type="text" size="23" name="CustomChooseFileButton" value="Carica File" style="right: 22px;
    left: 2.5px;
    top: 2.5px;
    width: 109px;
    position: fixed" class="slds-button slds-button_neutral btn"/>
    
  <!--  <input id="CustomChooseFileButtonDis" type="text" size="23" name="CustomChooseFileButtonDis" value="Carica File" style="display:none" class="slds-button slds-button_neutral btn" disabled="true"/> -->
    <br/>  
       <!--<apex:outputLink onclick="clearFile()" id="deleteIcon"><apex:image url="{!$Resource.iconDeleteVF}" height="50px" width="50px"/></apex:outputLink> -->
   <div class="buttonPosition" id="deleteButtonPress">    
<button class="slds-button slds-button_icon" title="Provide description of action" action="" id="deleteIconButton" >
    <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-utility-delete slds-icon-text-error">
                        <use xlink:href="{!URLFOR($Resource.SLDS231, 'assets/icons/utility-sprite/svg/symbols.svg#delete')}" />
  	</svg>
    </button>
 </div>

<!--    <input id="CustomRecycleButton" type="text" size="23" name="CustomRecycleButton" value="Recycle" style=" right: 22px;
    left: 110px;
    top: 100px;
    width: 100px;
    position: fixed;" class="slds-button slds-button_neutral btn"/>
    <apex:image id="theImage" value="{!$Resource.SLDS231,'assets\icons\utility-sprite\svg\symbols.svg#opportunity.html'}" width="200" height="200"/> 
    -->
      </div> 
            
 
       <!-- <apex:inputfile id="fileSelectedForUpload"  onChange="sendToLC({'state': 'uploadFileSelected'});" value="{!objAttachment.body}" filename="{!objAttachment.Name}" size="{!objAttachment.BodyLength}" contentType="{!objAttachment.ContentType}" styleClass="custom-file-upload"></apex:inputfile>-->
            </div>
        </div>
      </apex:slds>
        </div>
     </div>
        </Apex:form>


    <apex:pageBlock rendered="{!fileUploadProcessed == true}" id="theBlock">
        <script>
            //Hide pageBlock as we just need it to run <script>
            var theBlock = document.getElementById('{!$Component.theBlock}');
            theBlock.style.border = 'none';
        //  theBlock.style.display = 'none';
			
            //Send file uploaded message
            sendToLC({'state': 'fileUploadprocessed', 'message': '{!message}', 'messageType': '{!messageType}'});
        </script>
    </apex:pageBlock>
            </html>     

</apex:page>