<apex:page standardController="Report__c" extensions="ReportController" sidebar="false" action="{!InitExistingRecord}">

    <style type="text/css">
        .blur { font-style:italic; color:#C0C0C0;}
        .focus { font-style:normal;}
    </style>

    <apex:form >
        <apex:pageBlock title="Report Details" id="parentBlok">
            <apex:pageMessages />
            <apex:inputHidden value="{!indexGen}" />
            
            <apex:pageBlockTable value="{!reportList}" var="reportWrapper">
            
                <apex:column headerValue="Delete">
                    <apex:commandLink action="{!deleteRow}" reRender="parentBlok" immediate="true">
                        Del<apex:param name="delRow" value="{!reportWrapper.index}" />
                    </apex:commandLink>
                </apex:column>
                
                

                <apex:column headerValue="Report Name">
                    <apex:inputField value="{!reportWrapper.report.Report_Name__c}" styleClass="blur"
                            onfocus="if(this.value == 'Enter name'){this.value=''}; this.className='focus';"
                            onblur="if(this.value=='' || this.value==null) {this.value='Enter name'; this.className='blur'}"/>
                </apex:column>

               
                <apex:column headerValue="Fields">
                    <apex:inputField value="{!reportWrapper.report.Fields__c}" styleClass="blur"
                            onfocus="if(this.value == 'Enter fields'){this.value=''}; this.className='focus';"
                            onblur="if(this.value=='' || this.value==null) {this.value='Enter fields'; this.className='blur'}"/>
                </apex:column>
                
                <apex:column headerValue="Criteria">
                    <apex:inputField value="{!reportWrapper.report.Criteria__c}" />
                </apex:column>
                
                <apex:column headerValue="Grouped By">
                    <apex:inputField value="{!reportWrapper.report.Grouped_By__c}" />
                </apex:column>

                <apex:column headerValue="Exposed To">
                    <apex:inputField value="{!reportWrapper.report.Exposed_To__c}" />
                </apex:column>
                
                 <apex:column headerValue="Intention">
                    <apex:inputField value="{!reportWrapper.report.Intention__c}" />
                </apex:column>
                
                <apex:column headerValue="Req.Ref#">
                    <apex:inputField value="{!reportWrapper.report.Reference_No__c}" />
                </apex:column>

            </apex:pageBlockTable>
            
            <apex:pageBlockButtons >
                <apex:outputLabel for="numRows">No. Of Rows </apex:outputLabel>
                <apex:inputText id="numRows" value="{!numRows}" maxlength="2" size="2" />
                <apex:commandButton action="{!addNewRecord}" value="Add Records" reRender="parentBlok" />
                <apex:commandButton action="{!save}" value="Save" />
                <apex:commandButton action="{!clear}" value="Clear All" />
                <apex:commandButton value="Cancel" action="{!cancel}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>