<apex:page standardController="StandardObjectField__c" extensions="standardObjectFieldClass" sidebar="false">

    <apex:form >
    <apex:pageBlock title="Standard Object Field information" id="pageBlock">
        <apex:pageMessages />
        <apex:inputHidden value="{!indexGen}" />
    
        <apex:outputPanel id="FieldTable">
      
            <apex:pageBlockTable value="{!stdFieldList}" var="prf" id="parReRender">
            <apex:column headerValue="Delete">
            <apex:commandLink action="{!deleteRow}"  reRender="pageBlock" immediate="true">
            Del<apex:param name="delRow" value="{!prf.index}" />
            </apex:commandLink>
            </apex:column>
    
         
            <apex:column headerValue="Field Label">
            <apex:inputField value="{!prf.stdField.Field_Label__c}"/>
            </apex:column>
            <apex:column headerValue="Field Name">
            <apex:inputField value="{!prf.stdField.Field_Name__c}"/>
            </apex:column>
            <apex:column headerValue="Standard Object">
            <apex:inputField value="{!prf.stdField.Standard_Object_Name__c}"/>
            </apex:column>
            <apex:column headerValue="Data Type" >
                <apex:inputField value="{!prf.stdField.Data_Type__c}">
                    <apex:actionSupport id="DataType" event="onchange" reRender="parReRender"/>
                </apex:inputField>
            </apex:column>
            <apex:column headerValue="DATA TYPE DETAILS" id="DataTypeTableBlockColumn">
                      <apex:pageBlockSection rendered="{!if (prf.stdField.Data_Type__c=='Checkbox',True,False)}">
                      <apex:inputField value="{!prf.stdField.Default_Checked__c}"/>
                      <apex:inputField value="{!prf.stdField.Description__c}"/>
                      <apex:inputField value="{!prf.stdField.Help_Text__c}"/>
                      </apex:pageBlockSection> 
                      <apex:pageBlockSection rendered="{!if (prf.stdField.Data_Type__c=='Currency',True,False)}">
                      <apex:inputField value="{!prf.stdField.Length__c}"/>
                      <apex:inputField value="{!prf.stdField.Decimal_Places__c}"/>
                      <apex:inputField value="{!prf.stdField.Required__c}"/>
                      <apex:inputField value="{!prf.stdField.Default_Value__c}"/>
                      <apex:inputField value="{!prf.stdField.Description__c}"/>
                      <apex:inputField value="{!prf.stdField.Help_Text__c}"/>
                      </apex:pageBlockSection>
                      <apex:pageBlockSection rendered="{!if (prf.stdField.Data_Type__c=='Date',True,False)}">
                      <apex:inputField value="{!prf.stdField.Required__c}"/>
                      <apex:inputField value="{!prf.stdField.Default_Value__c}"/>
                      <apex:inputField value="{!prf.stdField.Description__c}"/>
                      <apex:inputField value="{!prf.stdField.Help_Text__c}"/>
                      </apex:pageBlockSection> 
                      <apex:pageBlockSection rendered="{!if (prf.stdField.Data_Type__c=='Date/Time',True,False)}">
                      <apex:inputField value="{!prf.stdField.Required__c}"/>
                      <apex:inputField value="{!prf.stdField.Default_Value__c}"/>
                      <apex:inputField value="{!prf.stdField.Description__c}"/>
                      <apex:inputField value="{!prf.stdField.Help_Text__c}"/>
                      </apex:pageBlockSection> 
                      <apex:pageBlockSection rendered="{!if (prf.stdField.Data_Type__c=='E-mail',True,False)}">
                      <apex:inputField value="{!prf.stdField.Required__c}"/>
                      <apex:inputField value="{!prf.stdField.Default_Value__c}"/>
                      <apex:inputField value="{!prf.stdField.Description__c}"/>
                      <apex:inputField value="{!prf.stdField.External_ID__c}"/>
                      <apex:inputField value="{!prf.stdField.Unique__c}"/>
                      <apex:inputField value="{!prf.stdField.Help_Text__c}"/>
                      </apex:pageBlockSection> 
                      <apex:pageBlockSection rendered="{!if (prf.stdField.Data_Type__c=='Number',True,False)}">
                      <apex:inputField value="{!prf.stdField.Length__c}"/>
                      <apex:inputField value="{!prf.stdField.Decimal_Places__c}"/>
                      <apex:inputField value="{!prf.stdField.Required__c}"/>
                      <apex:inputField value="{!prf.stdField.Default_Value__c}"/>
                      <apex:inputField value="{!prf.stdField.Description__c}"/>
                      <apex:inputField value="{!prf.stdField.External_ID__c}"/>
                      <apex:inputField value="{!prf.stdField.Unique__c}"/>
                      <apex:inputField value="{!prf.stdField.Help_Text__c}"/>
                      </apex:pageBlockSection> 
                      <apex:pageBlockSection rendered="{!if (prf.stdField.Data_Type__c=='Percent',True,False)}">
                      <apex:inputField value="{!prf.stdField.Length__c}"/>
                      <apex:inputField value="{!prf.stdField.Decimal_Places__c}"/>
                      <apex:inputField value="{!prf.stdField.Required__c}"/>
                      <apex:inputField value="{!prf.stdField.Default_Value__c}"/>
                      <apex:inputField value="{!prf.stdField.Description__c}"/>
                      <apex:inputField value="{!prf.stdField.Help_Text__c}"/>
                      </apex:pageBlockSection> 
                      <apex:pageBlockSection rendered="{!if (prf.stdField.Data_Type__c=='Phone',True,False)}">
                      <apex:inputField value="{!prf.stdField.Required__c}"/>
                      <apex:inputField value="{!prf.stdField.Default_Value__c}"/>
                      <apex:inputField value="{!prf.stdField.Description__c}"/>
                      <apex:inputField value="{!prf.stdField.Help_Text__c}"/>
                      </apex:pageBlockSection> 
                      <apex:pageBlockSection rendered="{!if (prf.stdField.Data_Type__c=='Picklist',True,False)}">
                      <apex:inputField value="{!prf.stdField.Picklist_Values__c}"/>
                      <apex:inputField value="{!prf.stdField.Sort__c}"/>
                      <apex:inputField value="{!prf.stdField.First_Value_Default__c}"/>
                      <apex:inputField value="{!prf.stdField.Description__c}"/>
                      <apex:inputField value="{!prf.stdField.Help_Text__c}"/>
                      </apex:pageBlockSection> 
                      <apex:pageBlockSection rendered="{!if (prf.stdField.Data_Type__c=='Picklist (Multiselect)',True,False)}">
                      <apex:inputField value="{!prf.stdField.Picklist_Values__c}"/>
                      <apex:inputField value="{!prf.stdField.Sort__c}"/>
                      <apex:inputField value="{!prf.stdField.First_Value_Default__c}"/>
                      <apex:inputField value="{!prf.stdField.Visible_Lines__c}"/>
                      <apex:inputField value="{!prf.stdField.Description__c}"/>
                      <apex:inputField value="{!prf.stdField.Help_Text__c}"/>
                      </apex:pageBlockSection> 
                      <apex:pageBlockSection rendered="{!if (prf.stdField.Data_Type__c=='Text',True,False)}">
                      <apex:inputField value="{!prf.stdField.Length__c}"/>
                      <apex:inputField value="{!prf.stdField.Required__c}"/>
                      <apex:inputField value="{!prf.stdField.Default_Value__c}"/>
                      <apex:inputField value="{!prf.stdField.Description__c}"/>
                      <apex:inputField value="{!prf.stdField.External_ID__c}"/>
                      <apex:inputField value="{!prf.stdField.Unique__c}"/>
                      <apex:inputField value="{!prf.stdField.Help_Text__c}"/>
                      </apex:pageBlockSection> 
                      <apex:pageBlockSection rendered="{!if (prf.stdField.Data_Type__c=='Text area',True,False)}">
                      <apex:inputField value="{!prf.stdField.Length__c}"/>
                      <apex:inputField value="{!prf.stdField.Required__c}"/>
                      <apex:inputField value="{!prf.stdField.Default_Value__c}"/>
                      <apex:inputField value="{!prf.stdField.Description__c}"/>
                      <apex:inputField value="{!prf.stdField.External_ID__c}"/>
                      <apex:inputField value="{!prf.stdField.Unique__c}"/>
                      <apex:inputField value="{!prf.stdField.Help_Text__c}"/>
                      </apex:pageBlockSection> 
                      <apex:pageBlockSection rendered="{!if (prf.stdField.Data_Type__c=='Text area (long)',True,False)}">
                      <apex:inputField value="{!prf.stdField.Length__c}"/>
                      <apex:inputField value="{!prf.stdField.Visible_Lines__c}"/>
                      <apex:inputField value="{!prf.stdField.Default_Value__c}"/>
                      <apex:inputField value="{!prf.stdField.Description__c}"/>
                      <apex:inputField value="{!prf.stdField.Help_Text__c}"/>
                      </apex:pageBlockSection> 
                      <apex:pageBlockSection rendered="{!if (prf.stdField.Data_Type__c=='Text area (Rich)',True,False)}">
                      <apex:inputField value="{!prf.stdField.Length__c}"/>
                      <apex:inputField value="{!prf.stdField.Visible_Lines__c}"/>
                      <apex:inputField value="{!prf.stdField.Default_Value__c}"/>
                      <apex:inputField value="{!prf.stdField.Description__c}"/>
                      <apex:inputField value="{!prf.stdField.Help_Text__c}"/>
                      </apex:pageBlockSection> 
                      <apex:pageBlockSection rendered="{!if (prf.stdField.Data_Type__c=='URL',True,False)}">
                      <apex:inputField value="{!prf.stdField.Required__c}"/>
                      <apex:inputField value="{!prf.stdField.Default_Value__c}"/>
                      <apex:inputField value="{!prf.stdField.Description__c}"/>
                      <apex:inputField value="{!prf.stdField.Help_Text__c}"/>
                      </apex:pageBlockSection>  
                      
            </apex:column>
           
            <apex:column headerValue="Req.Ref#" >
                <apex:inputField value="{!prf.stdField.Refrence_No__c}" />
            </apex:column>
            
        </apex:pageblocktable> 
        </apex:outputPanel>
                       <apex:pageBlockButtons >
                        <apex:outputLabel for="numRows">No. Of Rows </apex:outputLabel>
                        <apex:inputText id="numRows" value="{!numRows}" maxlength="2" size="2" />
                        <apex:commandButton value="Add Records" action="{!add}" reRender="pageBlock"/>
                        <apex:commandButton value="Save" action="{!save}"/>
                        <apex:commandButton action="{!clear}" value="Clear All"  reRender="pageBlock" />
                        <apex:commandButton action="{!cancel}" value="Cancel" />
                     </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>