<apex:page controller="DisplayQueryList" >
<apex:pageMessages />
    <apex:pageBlock title="Tabella Utenti Loggati" >

        
        
                  
               <apex:pageBlockTable value="{!listAuth}" var="Record">        
            
  
       
            
            <apex:column >

                <apex:facet name="header">LastModifiedDate</apex:facet>

              
                <apex:outputText value="{!Record.lastDate}"/>


            </apex:column>
              
             
        
        
            <apex:column >

                <apex:facet name="header">Name</apex:facet>

                <apex:outputText value="{!Record.name3}"/>

            </apex:column>
            
            <apex:column >

                <apex:facet name="header">Role</apex:facet>

              
                <apex:outputText value="{!Record.name}"/>

            </apex:column>
            

            
            
            <apex:column >

                <apex:facet name="header">SourceIp</apex:facet>

                <apex:outputText value="{!Record.ip2}"/>

            </apex:column>
            
             
            
           
            
            
        
        </apex:pageBlockTable>

    </apex:pageBlock>

</apex:page>