<apex:page standardController="Validation_Rule__c" extensions="ValidationRuleclass" sidebar="false" tabstyle="CustomObjects__c" action="{!InitExistingRecord}">
 <style type="text/css">
        .blur { font-style:italic; color:#C0C0C0;}
        .focus { font-style:normal;}
    </style>

<apex:form >
    <apex:pageBlock title="ValidationRule information"  id="VLTable">
      <apex:pageMessages />
      <apex:inputhidden value="{!indexGen}" />
                        <apex:pageBlockTable value="{!VLlist}" var="a">
                        <apex:column headerValue="Delete">
                            <apex:commandLink action="{!deleteRow}" reRender="VLTable" immediate="true">
                            Del <apex:param name="delRow" value="{!a.index}" />
                            </apex:commandLink>
                        </apex:column>

                        
                           
                        <apex:column headerValue="Custom Object" >
                            <apex:outputField value="{!a.VLsetting.Custom_Object__c}" />
                        </apex:column>
                        
                        <apex:column headerValue="Rule Name" >
                            <apex:inputField value="{!a.VLsetting.Rule_Name__c}" />
                        </apex:column>
                        
                         <apex:column headerValue="Active" >
                            <apex:inputField value="{!a.VLsetting.Active__c}" />
                        </apex:column>
                   
                        
                        <apex:column headerValue="Description" >
                            <apex:inputField value="{!a.VLsetting.Description__c}"/>
                        </apex:column>
                       
                        <apex:column headerValue="Conditon Formula" >
                            <apex:inputField value="{!a.VLsetting.Error_Condition_Formula__c}" />
                        </apex:column>VLsetting.

                        <apex:column headerValue="Error Message" >
                            <apex:inputField value="{!a.VLsetting.Error_Message__c}" />
                        </apex:column>
                        
                        

                        <apex:column headerValue="Error Location" >
                            <apex:inputField value="{!a.VLsetting.Error_Location__c}" />
                        </apex:column>
                     
                        
                         

 
            </apex:pageblocktable> 

            <apex:pageBlockButtons >  
                  <apex:outputLabel for="numRows">No. Of Rows</apex:outputLabel>
                  <apex:inputText id="numRows" value="{!numRows}" maxlength="2" size="2" />
                  <apex:commandButton value="Add Records" action="{!addNewRecord}" reRender="VLTable"/>
                  <apex:commandButton value="Save" action="{!save}"/>
                  <apex:commandButton action="{!clear}" value="Clear All" />
                  <apex:commandButton value="Cancel" action="{!cancel}"/>
            </apex:pageBlockButtons>
    </apex:pageBlock>
</apex:form>
</apex:page>