.THIS span.required{
    color:#c23934;
    font-size: small;
}
.THIS .myStyle {
    width:200px;
    
}
.THIS .myModal{
    width: 100%;
    max-width: none;
    min-width: 40rem;
    position: absolute;
    left: 0%;
    
}