.THIS div.expandCollapse{
    cursor : pointer;
    width : 3rem;
}
.THIS div.show{
    display:block;
}
.THIS div.hide{
    display:none;
}
.THIS .slds-icon-text {
    fill:#228B22;
}
.THIS .uiInputSelect
{
    width: 10rem;
}
.THIS .slds-text-title--caps{
    background-color:#e0e5ee;   
}
.THIS .slds-truncate{
    font-family: Montserrat;   
}
.THIS .title{
    padding:6px;
    font-family: Montserrat;
}
.THIS .truncate{
    width:28rem; 
    font-family: Montserrat; 
    /*word-wrap: break-all;*/
    white-space: normal;
    display: inline-block;
}
.THIS select::-ms-expand {
     /*To Hide drop-down arrow for SELECT in IE*/
    display: none;
}