.THIS {
}
.THIS .myModal{
    width: 60%;
    max-width: none;
    min-width: 40rem;
    position: absolute;
    left: 20%;
    
}

.THIS.slds-spinner_container {
  z-index: 10000;
  position: fixed;
   
}