.THIS div.body{

    list-style: none;
    align:left;

}

.THIS hr.bottom_line1 { 
   
   margin-top: 15.5px;   
   margin-bottom: 15.5px; 
   

}
.THIS hr.bottom_line2 {    
   
   margin-top: 14.5px;   
   
}